/* Overrides of specific things for generated indices, etc. */

code.xref, a code {
    font-weight: normal;
    font-family: Georgia, serif;
}

code.xref, a {
    /* text-decoration: none; */
}

table.indextable tr.cap {
    margin-top: 18px;
    /* background-color: #f2f2f2; */
}

pre, tt, code {
    font-family: Georgia, serif;
    /* font-size: 0.9em; */
}

/** Overriding the massive user agent spacing. */
div, h1, p, ul {
    margin: 0 0 12px !important;
}

p.recipedesc {
    font-style: italic;
    margin: 0px !important;
}

span.recipedescintro {
    font-weight: bold;
}

hr {
    margin: 10px 0 !important;
}
