/* Overrides of specific things for generated indices, etc. */

code.xref, a code {
    font-weight: normal;
    font-family: Georgia, serif;
}

code.xref, a {
    /* text-decoration: none; */
}

table.indextable tr.cap {
    margin-top: 18px;
    /* background-color: #f2f2f2; */
}

pre, tt, code {
    font-family: Georgia, serif;
    /* font-size: 0.9em; */
}

/** Overriding the massive user agent spacing. */
div, h1, p, ul {
    margin: 0 0 12px !important;
}

div.vex-canvas {
    margin: 0 0 0px !important;
}

div.vextabexample {
    margin-left: 30px !important;
    cursor: pointer !important;
}

div.vextabexample p {
    font-size: 12px !important;
}

p.recipedesc {
    font-style: italic;
    margin: 0px !important;
}

span.recipedescintro {
    font-weight: bold;
}

p.techdesc {
    font-style: italic;
    margin: 0px !important;
}

p.techdesc span.techdescintro {
    font-weight: bold;
}

hr {
    margin: 10px 0 !important;
}


div.section blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
div.section blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}

div.section blockquote p a {
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}

table.contenttable td {
    word-wrap: break-word !important;
    white-space: normal !important;
    vertical-align: top !important;
}
